<div #preload [@preload]="pageLoaded" class="preload">
  <mat-spinner class="align-content-center-center"></mat-spinner>
</div>

<div class="app row align-items-start h-100 m-0">

  <div #left [ngStyle]="{'width': leftWidth}" class="col-6 left h-100 p-0">
    <img #background
         (load)="onLoad();"
         [@image]="imageLoaded"
         [src]="backgroundObj.data"
         alt="Background image"
         class="background"/>
    <div class="fixed-bottom p-4 w-50 m-0">
      <div class="bg-white w-fit-content rounded d-flex flex-row p-2 shadow">
        <button (click)="setBackground()" [disabled]="!imageLoaded" class="bg-white shadow-lg text-secondary opacity-75"
                mat-mini-fab>
          <mat-icon>refresh</mat-icon>
        </button>
        <div [@location]="imageLoaded" class="overflow-hidden">
          <div class="w-max-content location-text">
            {{ backgroundObj.location }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div #right class="col-6 right bg-white h-100 p-0 shadow">

    <div class="p-4 pb-5">
      <h2 class="display-1 m-0">Hi, I'm Andrew</h2>
      <h2 class="pt-2">Amateur drone photographer, software engineer, and bike-rider.</h2>
    </div>

    <ul class="list-group">
      <li *ngFor="let link of links" class="list-group-item p-0 m-0 table-hover border-start-0 border-end-0 rounded-0">
        <a class="d-flex m-0 text-reset text-decoration-none h4 p-3 link-hover table-hover" href="{{link.url}}">
          <div class="p-3 pt-2 pb-2 h4 m-0">{{link.name}}</div>
        </a>
      </li>
    </ul>

  </div>
</div>
