@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import '~@angular/material/theming';

.app {
  font-family: "Roboto", sans-serif;
}

.background {
  position: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  // Angular Button is 1030
  z-index: 1031;
  background-color: rgb(254, 254, 254)
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #E0E0E0;
}

.align-content-center-center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.list-group {
  list-style: none;
}

.w-max-content {
  width: max-content !important;
}

.w-fit-content {
  width: fit-content !important;
}

.location-text {
  line-height: 40px;
  font-size: 26px;
  padding-right: .25em;
  padding-left: .5em;
}

.link-hover:hover {
  color: #2196F3 !important;
  background-color: rgba(0, 0, 0, .025)
}
